<!DOCTYPE html>
<html>
  <head>
    <title>MacShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <div id="banner">
        <%= @page_title || "Mac Store" %>
      </div>
      <div id="columns">
          <div id="side">
            <div id="cart">
              <%= render current_cart %>  
            </div>
            <a href="/">Home</a><br />
            <%= link_to "Product", products_path %> <br />
            <a href="#">News</a><br />
            <a href="#">Contact</a><br />
          </div>
          <div id="main">
              <%= yield %>
          </div>
      </div> 
    </div>
  </body>
</html>
