<!DOCTYPE html>
<html>
  <head>
    <title>MacShop</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <div id="banner">
        <%= @page_title || "Mac Store" %>
      </div>
      <div id="columns">
          <div id="side">
            <div id="cart"> 
                <%= hide_cart_if(current_cart.line_items.empty?, :id => "cart") do %>
                <%= render current_cart %> 
                <% end %>
            </div>
            <%= link_to "Signup", signup_path %> <br /> 
            <%= link_to "Login", login_path %> <br /> 
            <a href="/">Home</a><br />
            <%= link_to "Product", products_path %> <br />
            <a href="#">News</a><br />
            <a href="#">Contact</a><br />
          </div>
          <div id="main">
              <%= yield %>
          </div>
      </div> 
    </div>
  </body>
</html>
